body {
background-color: #719dfd;
}

.app {
background-color: rgb(243, 243, 243);
min-height: 80vh;
width: 420px;
margin: 20px auto;
border-radius: 50px;
border: 2px solid rgb(190, 190, 190);
}

.crossed {
text-decoration: line-through 2px red;
background-color: #f0f0f0;
}

ul, li {
list-style-type: none;
padding: 10px;
margin: 0;
font-family: 'Montserrat', sans-serif;
}

h1 {
font-family: 'Montserrat', sans-serif;
font-size: 30px;
}

.container {
display: flex;
justify-content: center;
}

.add {
background: #50aa06;
margin-top: 5px;
}

.delete {
background: #df0000;
margin-bottom: 5px;
}

.btn {
padding: 10px;
border: none;
border-radius: 50px;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}

input {
flex: 1;
padding: 10px;
margin: 30px;
font-family: 'Montserrat', sans-serif;
}

 img {
  margin-top: 10px;
 
 }

 .picTwo {
  margin-bottom: 70px;
 }
 
.picOne {
  margin-top: 70px;
}